= form_for @tasklist do |f|
  %fieldset
    %legend
      = controller_name.singularize.capitalize

    - if @tasklist.errors.any?
      #error_explanation
        %h2= "#{pluralize(@tasklist.errors.count, "error")} prohibited this tasklist from being saved:"
        %ul
          - @tasklist.errors.full_messages.each do |msg|
            %li= msg

    = f.label :title
    = f.text_field :title
  %fieldset
    %legend
      = Tasks

    = f.fields_for :tasks do |t|
      %div
        = t.label :title
        = t.text_field :title
        = t.label :done do
          = t.check_box :done
          Done
        = t.label :_destroy do
          = t.check_box :_destroy
          Delete

  %div.form-actions
    = f.submit 'Save', :class => "btn btn-small"
