%h1 Listing tasklists

%table.table
  %tr
    %th Title
    %th
    %th
    %th

  - @tasklists.each do |tasklist|
    %tr
      %td= tasklist.title
      %td= link_to 'Show', tasklist, :class => "btn btn-small"
      %td= link_to 'Edit', edit_tasklist_path(tasklist), :class => "btn btn-small"
      %td= link_to 'Destroy', tasklist, :method => :delete, :data => { :confirm => 'Are you sure?' },
        :class => "btn btn-small btn-danger"

%br

= link_to 'New Tasklist', new_tasklist_path, :class => "btn btn-small"
