%h1 Tasklist
%h2
  Title:
  = @tasklist.title
%h3 Tasks:
%p
  %ul
    - @tasklist.tasks.each do |task|
      %li
        = task.title

= link_to 'Edit', edit_tasklist_path(@tasklist), :class => "btn btn-small"
= link_to 'Back', tasklists_path, :class => "btn btn-small"
