= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :done
    = f.check_box :done
  .field
    = f.label :tasklist_id
    = f.number_field :tasklist_id
  .actions
    = f.submit 'Save'
