!!!
%html
  %head
    %title Tasklist1
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        %div.container
          = render 'layouts/navigation'
    %div#main{:role => "main"}
      %div.container
        %div.content
          %div.row
            %div.span12
              = render 'layouts/messages'
              = yield
          %footer
